/deep/ .el-table__header {
    th {
        background-color: #f5f7fa;
        color: black;
    }
}

.lottery {
    .add-btn {
        margin-bottom: 12px;
    }

    .el-pagination {
        margin-top: 12px;
    }
}