@import './layout.less';

html,
body,
#app,
.home-page {
    height: 100%;
    margin: 0;
}

.red {
    color: red;
}

.blue {
    color: #1890ff;
}

p {
    margin: 0;
}

.txt-hide {
    /*超出的部分隐藏起来。*/
    overflow: hidden;
    /*不显示的地方用省略号...代替*/
    white-space: nowrap;
    /* 支持 IE */
    text-overflow: ellipsis;
}

.border-btm {
    border-bottom: 20px solid #f0f2fa;
}